<header class="header clearfix">
<div class="container">
  <div class="jumbotron text-center">
    <h1>{{title}}</h1>
  </div>
  <nav class="navbar navbar-default navbar-inverse bs-dark">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
          <li><a routerLink="/catalog" routerLinkActive="active-link">Catalog</a></li>
          <li><a routerLink="/customer-details" routerLinkActive="active-link">Customer</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</header>

<main role="main">
  <router-outlet></router-outlet>
</main>

<div class="navbar navbar-default navbar-fixed-bottom footer">
  <div class="container">
    <p class="navbar-text pull-left">© 2018 - <a href="https://github.com/audef1/angularbookstore" target="_blank">Bookstore</a></p>
  </div>
</div>