<div class="container">

  <h1>Customer Details</h1>

  <form (ngSubmit)="saveCustomer()" #customerForm="ngForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer data</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" [(ngModel)]="customer.email">
        </div>

        <div class="form-group">
          <label for="firstName">Firstname</label>
          <input class="form-control" id="firstName" name="firstName" placeholder="Firstname" [(ngModel)]="customer.firstName">
        </div>

        <div class="form-group">
          <label for="lastName">Lastname</label>
          <input class="form-control" id="lastName" name="firstName" placeholder="Lastname" [(ngModel)]="customer.lastName">
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Credit Card Data</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="creditcardtype">Credit Card Type</label>
          <select class="form-control" id="creditcardtype" name="creditcardtype" [(ngModel)]="customer.creditCard.type">
            <option></option>
            <option *ngFor="let type of creditCardTypes" [value]="type">
              {{type}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="creditcardnumber">Lastname</label>
          <input required class="form-control" id="creditcardnumber" name="creditcardnumber" placeholder="Number" [(ngModel)]="customer.creditCard.number">
        </div>

        <div class="form-group">
          <label for="creditcardexpirationmonth">Lastname</label>
          <input class="form-control" id="creditcardexpirationmonth" name="creditcardexpirationmonth" placeholder="Month" [(ngModel)]="customer.creditCard.expirationMonth">
        </div>

        <div class="form-group">
          <label for="creditcardexpirationyear">Lastname</label>
          <input class="form-control" id="creditcardexpirationyear" name="creditcardexpirationyear" placeholder="Year" [(ngModel)]="customer.creditCard.expirationYear">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!customerForm.form.valid">Send</button>
  </form>

  {{customerData}}

</div>